.logoff, .sleep, .shutdown, .reboot {
    border-style: solid;
    border-width: 0.14rem;
    border-radius: 0.7rem;
    background-color: #1d1d27;
}


.shutdown {
    border-color: #ffadad;
}

.shutdown_btn {
    color: #ffadad ;
}

.reboot {
    border-color: #5ee3f2;
}

.reboot_btn {
    color: #5ee3f2;
}

.sleep {
    border-color: #cddfa0;
}

.sleep_btn {
    color: #cddfa0;
}

.logoff {
    border-color: #b4befe;
}

.logoff_btn {
    color: #b4befe;
}

.sleep_btn, .logoff_btn, .shutdown_btn, .reboot_btn {
    font-size: 6rem;
}