* {
    background:     #0A0512;
    background-alt: #CD9EFF;
    foreground:     #E6DFF0;
    selected:       #6E5898;
    active:         #789659;
    urgent:         #C6A5BC;
    purple:         #CD9EFF;
}
