/* Rofi config file */
configuration {
    font:           "Iosevka Font 14";
    show-icons:     true;
    display-window: "Window";
    display-drun:   "Search";
    display-run:    "Run";
    display-ssh:    "SSH";
}

@theme "theme"

listview {
    lines: 7;
}
