/* Rofi config file */
configuration {
    font:               "Iosevka 14";
    show-icons:         true;
    display-drun:       "";
    display-run:        "";
    display-window:     "";
    display-ssh:        "";
    display-filebrowser:" ";
    drun-display-format:"{name}";
    hide-scrollbar:     false;
    click-to-exit:      true;
    show-match:         true;
    matching:           "fuzzy";
    sort:               true;
    sorting-method:     "fzf";
}

@theme "theme"
