* {    
    min-height: 0;
    font-size: 1.01rem;
    font-weight: 500;
    font-family: "Jetbrains Mono Nerd Font" ;
}


window#waybar {
    transition-duration: .5s;
    background-color: transparent;
    transition-property: background-color;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces {
    transition: 0.3s;
    background: #17121C; 
    border-radius: 0.4em;
}

#workspaces button {
    margin: 0;
    color: #E5B566;
    transition: 0.3s;
    margin-right: 2px;
    border-radius: 2px; 
}

#workspaces button:hover {
    color: #17121C;
    background: #E5B566;
}

#workspaces button.urgent {
    color: #f53c3c;
}

#workspaces > button:first-child {
    margin-left: 0;
}

#workspaces > button:last-child {
    margin-right: 0;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#language,
#network,
#pulseaudio,
#tray,
#mode {
    padding: 0 5px;
    border-radius: 0.4em;
}

.modules-left, .modules-center, .modules-right {
    padding: 4px;
    border-radius: 0.4rem;
    background: #17121C;
}

.modules-left {
	margin: 5px 0px 0px 5px;
}

.modules-center {
padding: 0;
	margin-top: 5px;
margin-bottom: 0;
    background: transparent;
} 

.modules-right {
	margin: 5px 5px 0 0;
    color: #E5B566;
}

label:focus {
    background-color: #000000;
}

#network, #language, #pulseaudio, #clock {
    margin-right: 5px;
    
    padding-left: 10px;
    padding-right: 10px;
    
    border-radius: 4.4px;

    transition: none;
    transition: 0.3s;
}

#language:hover, 
#network:hover,
#pulseaudio:hover,
#clock:hover {
    color: #17121C; 
    background: #E5B566; 
}

#pulseaudio.muted {
    color: #ffadad; 
}

#pulseaudio.muted:hover {
    color: #17121C;
    background: #f38ba8;
}

#clock {
    margin-right: 0;
    margin-bottom: 0px;
}

#disk, #cpu, #memory {
    background: #17121C;

    padding-left: 10px;
    padding-right: 10px;

    transition: none;
    transition: 0.3s;

    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#disk {
    color: #cddfa0;
}

#disk:hover{
    color: #17121C; 
    background: #cddfa0;
}

#memory {
    color: #ffadad;
}

#memory:hover { 
    color: #17121C; 
    background: #ffadad;
}

#cpu {
    color: #5ee3f2;
}

#cpu:hover {
    color: #17121C; 
    background: #5ee3f2;
}

#network.disconnected {
    color: #f38ba8;
}

#network.disconnected:hover {
    background: #f38ba8;
    color: #17121C; 
}

#tray {
    margin-right: 5px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#tray menu{
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 0px;
    
    padding-left: 5px;
    padding-right: 5px;
    
    transition: none;
    transition: 0.3s;

    border-radius: 10px;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

.middle-module {
	margin-bottom: 0;
}
