
* {
    background:     #17131A;
    background-alt: #9A5EE0;
    foreground:     #D6C1ED;
    selected:       #7CA53D;
    active:         #A4CE70;
    urgent:         #C48FB3;
    purple:         #9A5EE0;
}
